#deletebtn {
    margin-top:10px;
    padding-left: 13px;
    padding-right:13px;

}

#cancelbutton {
    padding-left: 40px;
    padding-right:40px;
}

.modal.show{
    display: block;
}

.modal-header {
    background-color:skyblue;
}

h4 {
    margin-left:160px;
}

.modal-footer{
    background-color:skyblue;
}

/* .flex1{
    display: flex;
} */


#popupsubmit{
    margin-left: 150px;
}

#title2{
    background-color:crimson;
}

#title2content{
    margin-left:195px;
}

#footer2{
    background-color: crimson;
}

.footerbtns{
    margin-right:180px;
}

#myModal2{
    margin-top:185px;
}