

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  
    <title>Accolite University</title>
  </head><body class="bg-light" >

    <div class="container-fluid accolitetitle" *ngIf="loggedIn==false && about==false">
      <a href="http://{{outputpath}}" target="_blank" style="color:blue;">Accolite-Home</a>
      &nbsp;&nbsp;
        <a (click)="aboutusmethod()" style="color:blue;">About Us</a>
      <br><br><br><br><br><br>&nbsp;&nbsp;&nbsp;
      <img src="../assets/Images/Accolite2.png" height="240" width="400" alt="Accolite Logo">


    </div>

    <div class="container-fluid accoliteimage" *ngIf="loggedIn==false && about==false">
      <img src="../assets/Images/Accolite1.jpg" height="300" width="400" alt="Accolite Group Photo">
    </div>


  <div class="container">
    
    
    <div class="row py-5 justify-content-center">
      <div class="col-md-8">
              


        <div class="centeralign" *ngIf="loggedIn===false && about==false">
            <h1 class="text-center py-4">AU Management Portal</h1>  
            <br>
            <img src="../assets/Images/AU_logo.JPG" alt="Accolite University">
            <br>
            <br>         
           <button type="button" (click)="signInWithGoogle()" class="btn btn-primary">Sign In With Google</button>
        </div>
        </div> 
    </div>
</div>       


<div class="sidebaralign2" *ngIf="loggedIn==true">
<ng-sidebar-container>
  <ng-sidebar class="sidebaralign" [opened]="opened">  <!--[closeOnClickOutside]="true"-->
      <br>
  <button class="btn btn-danger" id="closebtn" (click)="opened=!opened">Close<span class="glyphicon glyphicon-remove"></span></button><br>


    <ul class="menu">
      <li><a routerLink="/dashboard">Home</a></li>
      <li><a routerLink="/others">Opportunity Management</a></li>
      <li><a routerLink="/search">Candidate Management</a></li>
      <li><a routerLink="/others">Course Management</a></li>
      <li><a routerLink="/others">Assessment</a></li>
      <li><a routerLink="/others">Onboarding Portal</a></li>
  </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
  <button class="btn btn-success" style="margin-top:5px;margin-left: 5px;" (click)="opened=!opened" >
    Menu
  </button>
  <br>
  <br>
  <br>
  <br>
  <br>


<div class="container-fluid">
  <div class="signoutoption" *ngIf="loggedIn===true">
    <button type="button" (click)="signOut()" class="btn btn-danger">Sign Out</button>
  </div></div>
  
        <div *ngIf="loggedIn===true">
          <br>
           <router-outlet></router-outlet>
          </div>
  

  </div>
  
  
  </ng-sidebar-container>
</div>







             <div *ngIf="about==true" id="aboutus">
              &nbsp;&nbsp;<a (click)="homemethod()" style="color:blue;">Back</a><br>
              
               <app-aboutus></app-aboutus>
             </div>
</body>
</html> 


  

   
