@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
    text-decoration:none;
    font-family: 'Ubuntu', sans-serif;
}

.main_content{
width: 100%;
margin-top:-80px;
}

.main_content .header {
    padding : 20px;
    background :#fff;
    color:#717171;
    border-bottom:1px solid #e0e4e8;
    text-align: center;
}

div.info {
    text-align: center;
}



