<br><br><br>

<!-- <div class="wrapper">
    <div class="sidebar">
        <ul >
            <li><button (click)="showhometab()">Home</button></li>
            <li><button (click)="showotherstab()">Opportunity Management</button></li>
            <li><button (click)="showcandidtab()">Candidate Management</button></li>
            <li><button (click)="showotherstab()">Course Management</button></li>
            <li><button (click)="showotherstab()">Assessment</button></li>
            <li><button (click)="showotherstab()">Onboarding Portal</button></li>
        </ul>
    </div>-->
    <div class="main_content">
        <div *ngIf="hometab==true">
        <div class="header"> <b>Welcome to AU Management Portal!!!</b></div>
        <div class="info">
            <img src="../../assets/Images/AU_logo.JPG" alt="Accolite University">
        </div>
        </div>
        
    </div>


           <!--  <nav>
                <ul>
                    <li><button class="btn btn-primary" (click)="searchcand()">Search</button></li>
                    <li><button class="btn btn-success" (click)="addcand()">Add</button></li>
                    <li><button class="btn btn-secondary" (click)="viewcand()">View</button></li>
                    <li><button class="btn btn-dark">Trends</button></li>
                </ul>
                </nav> -->

              <!--  <div class="container" #tab>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" (click)="searchcand()">SEARCH</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-success" (click)="addcand()">ADD</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-secondary" (click)="viewcand()">VIEW</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-dark" (click)="viewtrend()">TRENDS</button>
                </div>
                
                <br>
                <br>
<div *ngIf="otherstab==true">
            <p>Non Functional</p>
        </div> 

                <div *ngIf="searchbool==true && candidtab==true" class="container">
                
                    <app-search></app-search>
                </div>   

                <div *ngIf="addcandbool==true && candidtab==true">
                    <app-addcand></app-addcand>
                </div>    

                <div *ngIf="viewbool==true && candidtab==true">
                    <app-viewcand></app-viewcand>
                </div>

                <div *ngIf="trend==true && candidtab==true">
                    <app-trends></app-trends>
                </div>-->

  <!--   </div>
</div> -->



