<div class="container" style="margin-top:-40px;">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" (click)="searchcand()">SEARCH</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-warning" (click)="addcand()">ADD</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-secondary" (click)="viewcand()">VIEW</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-dark" (click)="viewtrend()">TRENDS</button>
</div>
<br>

<div class="container-fluid">
  <h1 class="card-hearder bg-info" style="text-align: center;">
      <b>TRENDS</b>
  </h1>
</div>

<br>
<br>


        <div style="text-align: center">
          <br>
          <br>
            <div class="centeralign">
            <div class="row ml-5">
              <div class="col">
                  <div class="row">
                    <h4>
                      <b>Number of Candidates in various Locations</b>
                    </h4>
                  </div>
                  <div class="row">
                      <b>  <ngx-charts-bar-vertical
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="single"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel1"
                        [yAxisLabel]="yAxisLabel1"
                        >
                        </ngx-charts-bar-vertical></b>
                  </div>
                </div>
              
              </div>
              
          <br>
          <br>
          <br>
          <br>
              <div class="row ml-5">
                <div class="col">
                    <div class="row">
                      <h4>
                       <b>Number of Candidates with various Skills</b>
                      </h4>
                    </div>
                    <div class="row">
                        <b>  <ngx-charts-bar-vertical
                          [view]="view"
                          [scheme]="colorScheme2"
                          [results]="single2"
                          [gradient]="gradient"
                          [xAxis]="showXAxis"
                          [yAxis]="showYAxis"
                          [legend]="showLegend"
                          [showXAxisLabel]="showXAxisLabel"
                          [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel2"
                          [yAxisLabel]="yAxisLabel2"
                          >
                          </ngx-charts-bar-vertical></b>
                    </div>
                  </div></div>
          
          
          
          </div>
          
          </div>

          <br>
          <br>
          