

        <div style="text-align: center">
          <br>
          <br>
            <div class="centeralign">
            <div class="row ml-5">
              <div class="col">
                  <div class="row">
                    <h4>
                      <b>Number of Candidates in various Locations</b>
                    </h4>
                  </div>
                  <div class="row">
                      <b>  <ngx-charts-bar-vertical
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="single"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        >
                        </ngx-charts-bar-vertical></b>
                  </div>
                </div>
              
              </div>
              
          <br>
          <br>
          <br>
          <br>
              <div class="row ml-5">
                <div class="col">
                    <div class="row">
                      <h4>
                       <b>Number of Candidates with various Skills</b>
                      </h4>
                    </div>
                    <div class="row">
                        <b>  <ngx-charts-bar-vertical
                          [view]="view"
                          [scheme]="colorScheme2"
                          [results]="single2"
                          [gradient]="gradient"
                          [xAxis]="showXAxis"
                          [yAxis]="showYAxis"
                          [legend]="showLegend"
                          [showXAxisLabel]="showXAxisLabel"
                          [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel"
                          [yAxisLabel]="yAxisLabel"
                          >
                          </ngx-charts-bar-vertical></b>
                    </div>
                  </div></div>
          
          
          
          </div>
          
          </div>
          